<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <appSettings>
    <add key="username" value="admin"/>
    <add key="password" value="admin"/>

  </appSettings>

  <connectionStrings>
    <add name="ConnString" connectionString="Data Source='allium.arvixe.com'; Connect Timeout='30'; Initial Catalog='VeeraEDU'; Persist Security Info='True'; User ID='rasucas'; Password='cas@1234';" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
</configuration>